In [4]:
import pandas as pd 
import sys
import os
sys.path.append(os.path.abspath('..'))
from src import config

In [2]:
df = pd.read_excel('../data/generic_27k.xlsx')
# . dice 'da dove sei'

In [3]:
df.head()

       textID                                               text sentiment
0  cb774db0d1                I`d have responded, if I were going   neutral
1  549e992a42      Sooo SAD I will miss you here in San Diego!!!  negative
2  088c60f138                          my boss is bullying me...  negative
3  9642c003ef                     what interview! leave me alone  negative
4  358bd9e861   Sons of ****, why couldn`t they put them on t...  negative

Obiettivo: capire i dati, cosa c'√® dentro. C'√® qualcosa di strano? Exploratory data analysis (minmo) per capire di cosa si sta parlando.

In [7]:
# per non scrivere tutto il path per importare dataset, possiamo definire una cartella con dentro tutti
# i dataset e dirgli di andare in quella e prendere quel file che ci serve
# Dobbiamo per√≤ definire questa cartella: √® gi√† stato fatto dentro config, nella cartella src.
df_1 = pd.read_excel(os.path.join(config.RAW_DATA_PATH, 'earth_day_tweets_sentiment_50k_(1).xlsx'))
df_1.head()

,text,hash_tags,account_tags,sentiment,emotion
0,RT @POTUS: As we celebrate the progress we‚Äôve ...,NaN,POTUS,POSITIVE,optimism
1,"This #EarthDay, I'm happy to be meeting with P...","EarthDay,GetTheLeadOut",PennEnvironment,POSITIVE,optimism
2,RT @Khan__sir_patna: All of people wishes and ...,EarthDay,Khan__sir_patna,POSITIVE,joy
3,RT @CapsCoalition: Biden Signs Executive Order...,EarthDay,CapsCoalition,POSITIVE,optimism
4,RT @tamannaahspeaks: Animals source their food...,MyconnectwithSoil,"tamannaahspeaks,SadhguruJV,cpsavesoil",POSITIVE,optimism

In [8]:
df_2 = pd.read_excel(os.path.join(config.RAW_DATA_PATH, 'earth_day_tweets_sentiment_50k_(2).xlsx'))
df_2.head()

,text,hash_tags,account_tags,sentiment,emotion
0,RT @Amyk_Essentials: Happy Earth Day üåé\nTreat ...,NaN,Amyk_Essentials,POSITIVE,joy
1,RT @WUTangKids: Make Earth Day Every Day! htt...,NaN,WUTangKids,NEGATIVE,joy
2,"Earth Day, every day. \n#EarthDay2022 üåç https:...",EarthDay2022,NaN,NEGATIVE,joy
3,"RT @wbcsd: On #EarthDay, @wbcsd proudly announ...",EarthDay,"wbcsd,wbcsd,UPLLtd,Chevron",POSITIVE,optimism
4,"RT @lihosny: I‚Äôm fighting for a greener, healt...","EarthDay,MakeOntarioGreen",lihosny,POSITIVE,optimism

In [9]:
df_3 = pd.read_excel(os.path.join(config.RAW_DATA_PATH, 'fifa_world_cup_2022_tweets_sentiment_22k.xlsx'))
df_3.head()

,Unnamed: 0,Date Created,Number of Likes,Source of Tweet,Tweet,Sentiment
0,0,2022-11-20 23:59:21+00:00,4,Twitter Web App,What are we drinking today @TucanTribe \n@MadB...,neutral
1,1,2022-11-20 23:59:01+00:00,3,Twitter for iPhone,Amazing @CanadaSoccerEN #WorldCup2022 launch ...,positive
2,2,2022-11-20 23:58:41+00:00,1,Twitter for iPhone,Worth reading while watching #WorldCup2022 htt...,positive
3,3,2022-11-20 23:58:33+00:00,1,Twitter Web App,Golden Maknae shinning bright\n\nhttps://t.co/...,positive
4,4,2022-11-20 23:58:28+00:00,0,Twitter for Android,"If the BBC cares so much about human rights, h...",negative

In [10]:
df_4 = pd.read_excel(os.path.join(config.RAW_DATA_PATH, 'generic_27k.xlsx'))
df_4.head()

       textID                                               text sentiment
0  cb774db0d1                I`d have responded, if I were going   neutral
1  549e992a42      Sooo SAD I will miss you here in San Diego!!!  negative
2  088c60f138                          my boss is bullying me...  negative
3  9642c003ef                     what interview! leave me alone  negative
4  358bd9e861   Sons of ****, why couldn`t they put them on t...  negative